<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>notarmleg</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}">
</head>
<body>
    <div style=" width: 100%; height: auto; background-color: #2ADAFF; color: white;" class="flex-container">
        <h1 style="margin-left: 10px;">NotArmLeg</h1>
    </div>
    {% block body %}


    {% endblock %}
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>