body, html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
}
.flex-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;

}

.fullHeight{
    height: 100%;
}

.fullWidth{
    width: 100%;
}

.flex-column{
    flex-direction: column;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.pageContainer{
    width: 100%;
    height: 100%;
}

.btn-primary{
    background-color: #2ADAFF;
    border-color: #2ADAFF;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover{
    color: inherit;
    text-decoration: inherit; /* no underline */
}

.errorflash {
    width: 30%;
    text-align: center;
    position: fixed;
    /*margin-top: 54px;*/
    margin-top: 60px;
    z-index: 200 !important;
    right: 0;
}