{% extends "template.html" %}

{% block body %}

    <head>
        <script src="{{ url_for('static',filename='javascript/GuidanceSwitches.js') }}"></script>
    </head>

    <div class="container" onload="runOnLoad()" style="padding: 20px;">
        <h1>You clicked on a Spam Email!</h1>
        <p>
            The email you just opened was a spam email, which means that it was not sent by who it appeared to be from.
            In this case, it was not serious as it was a dummy email sent by Not Arm, Leg, to educate you on how a spam
            email differs from one from reputable sender.
            If this were a real spam email, it could have attempted to persuade you to send personal data (e.g. Bank
            Details), or infected your computer with a virus.
        </p>

        <p>
            There are certain ways you can tell if an email is spam or not, below are some of the ways you could have
            recognised that this email was spam:
        </p>

        {% for i in features %}
            <div class="flex-container">
                <div>
                    <h3 style="padding: 10px; margin: 0;">{{ i[0] }}</h3>
                    <p style="padding: 10px;">{{ i[1] }}</p>
                </div>
                <img src="{{ i[2] }}" onerror="this.style.display='none'" height="100px;">
            </div>
        {% endfor %}
    </div>

{% endblock %}