{% extends "template.html" %}

{% block body %}

    <div class="flex-container fullHeight fullWidth flex-center flex-column">
        <div id="1" >
            <h1 style="font-size: 200px;">No</h1>
        </div>

        <div id="2" style="display: none;">
            <h1 style="font-size: 200px;">lol</h1>
        </div>
        <div id="3" style="display: none;">
            <h1>Unsubscribe from emails</h1>

            <form class="form-inline" method="post">
                <div class="form-group ">
                    <label for="email" class="sr-only">Email</label>
                    <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Submit</button>

            </form>
        </div>
    </div>

    <script>
    setTimeout(
    function() {
      document.getElementById('1').style.display='none';
      document.getElementById('2').style.display='initial';
    }, 2000);

    setTimeout(
    function() {
      document.getElementById('2').style.display='none';
      document.getElementById('3').style.display='initial';
    }, 2500);
    </script>

{% endblock %}